<style>
    body {
        background-image: url("/img/waterback.jpg");
        background-size: cover;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Super Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#"><i class="icon-speech"></i></a>
            <a class="btn" href="index-2.html"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">@ViewBag.Title</h2>

                <h1>
                    Welcome to GSmartHR
                </h1>

            </div>
        </div>
    </div>
</div>


