
@{
    var workContext = DependencyResolver.GetService<IWorkContext>();
}

<ul class="c-sidebar-nav">

    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/Admin/User/UserList">User List</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/Admin/Employee/EmployeeList">Employee List</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/Admin/Attendance/AttendanceList">Attendance List</a></li>
</ul>