
@{
    var workContext = DependencyResolver.GetService<IWorkContext>();
}

<ul class="c-sidebar-nav">

    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/Staff/Employee/SaveEmployee">Update Profile</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/Staff/Attendance/Attendance"> Attendance</a></li>
</ul>